body {
    font-family: Arial, sans-serif;
}

.input-field {
    width: 400px;        /* 幅を指定 */
    height: 100px;       /* 高さを指定 */
    padding: 5px;        /* パディングを指定 */
    font-size: 16px;     /* フォントサイズを指定 */
    box-sizing: border-box; /* パディングを含めたサイズ計算 */
    vertical-align: top;  /* 上に揃える（textareaは自動的に上揃えですが、明示的に設定） */
}

#postForm {
    margin-bottom: 20px;
}
.post {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
}
.replyForm {
    margin-top: 10px;
    margin-left: 20px;
}
.reply {
    border: 1px solid #aaa;
    padding: 8px;
    margin-top: 5px;
    margin-left: 20px;
    border-radius: 5px;
    position: relative;
}
.deleteButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.dropdown {
    position: absolute;
    top: 10px;
    right: 10px;
}

.dropbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: -100px; 
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.0);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

